body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    text-align: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 1px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.recuadrofot{
    width: fit-content;
    padding: 2px;
    border-radius: 5%;
    margin: auto;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#contenedorfotos {
    margin: auto;
    margin-top: 1em;
    width: 85vw;
    border-radius: 8%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo {
    width: 18vw;
    height: 18vw;
  }
  h1 {
    text-align: center;
    font: oblique bold 300% cursive;
}
h2, h3, p {
    text-align: center;
}

/* Estilos para el contenedor de la imagen */
.image-container {
    display: inline-block;
}

/* Estilos para la imagen */
.zoom-image {
    width: 18vw;
    height: 18vw;
    cursor: pointer;
}


/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1; /* Se sitúa delante de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.9); /* Fondo con opacidad */
}

/* Estilos para la imagen del modal */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Estilos para el botón de cerrar */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
